.body{
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
}

.box2{
    align-self: center;
}

.box3{
    align-self: flex-end;
}





.링크{
    border: 1px solid blue;
    height: 30px;
    text-decoration: none;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.링크:hover{
    text-decoration: underline;
}